*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-family: Festive;
    color: solid black;
}
.banner{
    display: flex;
    justify-content: center;
    margin: 20px;
    

}
.foodImage{
    display: flex;
    position: absolute;
    margin: 30px;
     
}


body{
    height: 100vh;
    background-image: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255,255,255,0.50) 47%, rgba(0,0,0,0.50) 100%);
    background-blend-mode: screen;
    background-repeat: no-repeat;
    
}

.addRecipe{
    display: flex;
    justify-content: center;
    margin: 170px;
    font-family: 'Montserrat', sans-serif;
       
}
.btn{
    background:#fec859 ;
    border: none;
    color: black;
    font-weight: bold;
    border-radius: 15px;
}

.btn:hover{background-color: #35c4ff;

}